* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 19, 19);
    color: white;
}
video {
    width: 100%;
    height: auto;
}

#embedVideo {
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 200px;
    bottom: 0;
    /* top: 0; */
    pointer-events: none;
    transform: translateX(-50%);
    display: none;
}
.progress:hover #embedVideo {
    display: block;
}

.container {
    /* display: flex; */
    min-height: 100vh;
    max-width: 720px;
    margin: auto;
    /* align-items: center; */
    justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  width: 100%;
  height: 2rem;
  position: relative;
}

.controls[data-state="hidden"] {
  display: none;
}

.controls button {
  width: 2rem;
  height: 2rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.controls button:hover,
.controls button:focus {
  opacity: 0.5;
}

.controls .progress {
  flex-grow: 1;
  cursor: pointer;
  height: 20%;
  border-radius: 100vw;
}

.controls progress {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  color: #0095dd;
  border-radius: 100vw;
  overflow: hidden;
  margin: 0 auto;
}
