* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 2rem;
    background-color: rgb(15, 15, 15);
}

canvas {
    width: 512px;
    height: 512px;
    border: 1px solid rgb(27, 27, 27);
    background-color: black;
}